
#counter {
    font-size: 180px;
    text-align: center;
    margin-top: 10%;
}

#disclaimer {
    padding-top: 50px;
    margin-left: 50px;
    color: red;
}

#infoText {
    font-size: 70px;
    text-align: center;
    padding-top: 100px;

}

.btn {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    font-size: 40px;
    color: blue;
    margin-left: 470px;
}